.color-rosso {
    background-color: red;
}

.color-verde {
    background-color: green;
}

.color-blu {
    background-color: blue;
}

.color-arancione {
    background-color: orange;
}

.color-giallo {
    background-color: yellow;
}